# Data Manipulation
pandas>=2.0.0
numpy

# Machine Learning (CA-CAE Architecture)
scikit-learn
tensorflow[and-cuda]

# Survival Analysis & Statistics
lifelines
scipy>=1.10.1

# Visualization (Required for utils.py and KM plots)
matplotlib>=3.7.1
seaborn>=0.12.2